*{
    margin: 0;
    padding: 0;
    box-sizing:border-box
}
:root{
    --mainFont: 'Poppins', sans-serif;
    --grayColor:  rgb(0, 0, 0, 0.5);
    --blueColor: #3e5063;
    --tanColor: #D2B48C;
    --bronzeColor: #cd7f32;
}
a:link.whiteTxt{
    text-decoration: none;
    color: white;
    
}
a:link.blkTxt{
    color: black;
    text-decoration: none;
}
a:visited.whiteTxt{
    color: white;
}
a:link, a:visited.whiteTxt{
   color: white;
    text-decoration: none;
  
  }
a:visited.blkTxt{
    color: black;
    text-decoration: none;
  }
body{    
    background-image: url(images/pexels-mikhail-nilov-8157984.jpg);
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family:var(--mainFont);
    margin: 0;
    position: absolute;
}

.topImg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.blur{
    filter: blur(10px);
}
.bookBtn{
  
    width: fit-content;
    padding: 3px;
    margin: 1px;
}
.topContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    justify-content: center;
   
    padding: 5px;
    color: white;
}
.raylessLogo{
    font-family: 'Poiret One', cursive;
    font-size: 3rem;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%
 }
.chromaLogoImg{
    display: flex;
    max-width: 150px;
} 
.imageDiv{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column; 
    align-items: center;
}
.contactInfoDiv{
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    text-align: center;
}

.contact{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.first{
    text-align: center;   
}

.prep{   
    display: flex;
    align-items: start;
    flex-direction: column;   
}
.navBar{
 
    display: flex;
    justify-content: center; 
    color: white;
    font-weight: 600;
    
}

.navLink{    
    font-size: 1rem;
    padding: 10px;
}
.address:hover,
.bookBtn:hover,
.navLink:hover{
    background-color: var(--tanColor);
    cursor: pointer;
}
.gap{
    height: 60vh;
}
.header{
    font-family: var(--mainFont);
}

.sectionHeader{
    font-family: var(--mainFont);
    padding: 7px;
    margin-left: 50px;
}
.whiteTxt{
    color: white;
}

li{
    list-style: none;
}
.socialLink{
    height: 20px;
    margin: 1px;
}

 .section{
    margin: 0px 20vw 50px 20vw;
    padding: 50px;
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 20px;
    
 }


 .transbox{
    padding: 0px;
    margin: 0px;
  
    background-color: transparent;
}
.headline{
    font-size: 3rem;
    font-family: 'Prompt', sans-serif;
    color: white;
}

.products{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 25px;
    justify-content: center;
    align-items: center;    
   
}

.products>img{
    border-radius: 10px;
    margin: 20px;
}

.hide{
    display: none;
}

.flex{
    display: flex;
}

.bio-pic{
    width: 175px;
    padding: 20px;
}
.center{
    align-content: center;
    text-align: center;
    justify-content: center;
}
.gallery{
    position: fixed;
    top: 30%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 500px;
    max-height: fit-content;
    background-color: black;
    padding: 25px;
    text-align: center;
 
    flex-direction: column;
}

.galleryContainer{
    width: 100vw;
  
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.hiddenOverflow{
    overflow: hidden;
}
.clientImg{
    max-height: 200px;
    object-fit: cover;
}
.disable-scroll{
    overflow-y: hidden;
}
.closeGallery{
    border-radius: 50%;
    background-color: var(--bronzeColor);
    color: white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;  
    align-items: center;
    position: fixed; /* Fixed/sticky position */
    bottom: 20vh; /* Place the button at the bottom of the page */
    right: 10vw; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
}
/* Hide the images by default */
.mySlides {
    display: none;
}
  
  /* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
  
  /* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
  
  /* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
  
  /* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.x {
    font-size: 18px;
    background-color: var(--bronzeColor);
    border-radius: 5px;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    display: inline;
}
.active, .dot:hover {
    background-color: #717171;
}
  
  /* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.footer{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-size: 12px;
}



@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
@media screen and (max-width: 800px) {
.topContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}
.parallax {  
    min-height: 50vh;
}
    .address{
        display: none;
    }
    .products{
        display: flex;
        flex-direction: column;
    }
    .gallery {
        max-width: 80%;
        top: 50%;
        transform: translateY(-50%);
      }
    
    .section{
        flex-direction: column;
        padding: 40px;
        
        border-radius: 20px;
       
        
     }
     .productImg{
        max-width: 400px;
     }
     .sticky{
        position: absolute;
     }
     .bio-pic{
       align-self: center;
       
     }
}
