*{
    margin: 0;
    padding: 0;
    box-sizing:border-box
}
:root{
    --mainFont: 'Poppins', sans-serif;
    --grayColor:  rgb(0, 0, 0, 0.5);
    --blueColor: #3e5063;
    --tanColor: #D2B48C;
    --bronzeColor: #cd7f32;
}
a:link.whiteTxt{
    text-decoration: none;
    color: white;
    
}
a:link.blkTxt{
    color: black;
    text-decoration: none;
}
a:visited.whiteTxt{
    color: white;
}
a:link, a:visited.whiteTxt{
   color: white;
    text-decoration: none;
  
  }
 a:visited.blkTxt{
    color: black;
    text-decoration: none;
  }
body{
    
    font-family:var(--mainFont);
    margin: 0;
}

.topImg{
    display: flex;

    display: flex;
    justify-content: center;
    align-items: center;

}

.blur{
    filter: blur(10px);
}
.bookBtn{
    outline: solid white 1px;
    width: fit-content;
    padding: 5px;
}
.topContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    justify-content: center;
    background-color:var(--bronzeColor);
    padding: 25px;
    color: white;


   }
 .sticky{
    position: fixed;
    top: 0;
    width: 100%
 }
.chromaLogoImg{
display: flex;
  max-width: 400px;

} 
.contactInfoDiv{
    text-align: center;
}
.contact{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.first{
    text-align: center;
   
}
.prep{
   
    display: flex;
    align-items: start;
    flex-direction: column;
   
}
.navBar{
    background-color:var(--bronzeColor);
    display: flex;
    justify-content: center; 
    color: white;
}

.navLink{
    
    font-size: 1rem;
    padding: 10px;
}
.navLink:hover{
    background-color: var(--tanColor);
   
    cursor: pointer;
}
.header{
    font-family: var(--mainFont);
}
.sectionHeader{
    font-family: var(--mainFont);
   padding: 7px;
   margin-left: 50px;
}
.whiteTxt{
    color: white;
}

li{
    list-style: none;
}
.socialLink{
    height: 20px;
     margin: 1px;
 }
 .imageDiv{
    display: flex;
    text-align: center;
    justify-content: center;
 }
 .section{
    margin: 0px 20vw 0px 20vw;
    padding: 50px;
    background-color: white;
    border-radius: 20px;
   
    
 }

 .parallax {  
    background-image: url(images/pexels-mikhail-nilov-8157984.jpg);
    min-height: 84vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax2{
    background-image: url(images/pexels-jess-loiterton-7510549.jpg);
    min-height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.parallax3{
    background-image: url(images/pexels-mikhail-nilov-8158596.jpg);
    min-height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.transbox{
    padding: 0px;
    margin: 0px;
   background-color: transparent;
}
.headline{
    font-size: 3rem;
    font-family: 'Prompt', sans-serif;
   color: white;

}
.products{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 25px;
    justify-content: center;
    align-items: center;
    
}
.products>img{
    border-radius: 10px;
    margin: 20px;
}

.hide{
    display: none;
}
.flex{
    display: flex;
}
.gallery{
    position: fixed;
    top: 30%;
    left: 40%;;
    right: 0;
    bottom: 0;
    max-width: 400px;
    max-height: fit-content;
   flex-direction: column;
    background-color: black;
    padding: 25px;
    text-align: center;
   
}
.galleryContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.hiddenOverflow{
    overflow: hidden;
}
.clientImg{
    max-height: 200px;
    object-fit: cover;
}
.disable-scroll{
    overflow-y: hidden;
}
.closeGallery{
    border-radius: 50%;
    background-color: var(--bronzeColor);
    color: white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
  
    align-items: center;
    position: fixed; /* Fixed/sticky position */
  bottom: 20vh; /* Place the button at the bottom of the page */
  right: 10vw; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
}
/* Hide the images by default */
.mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;

  }
  .x{
    font-size: 18px;
    background-color: var(--bronzeColor);
    border-radius: 5px;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    display: inline;
  }
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }

  .footer{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    font-size: 12px;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
@media screen and (max-width: 800px) {
.topContainer{
    display: flex;
    flex-direction: column;
}
.parallax {  
    min-height: 50vh;
}
    .address{
        display: none;
    }
    .products{
        display: flex;
        flex-direction: column;
    }
    .gallery{
        position: fixed;
        top: 30vh;
        left: 5vw;
    right: 0;
    bottom: 0;
        width: 80vw;
    }
    .section{
        margin: 0px 10vw 0px 10vw;
        padding: 40px;
        
        border-radius: 20px;
       
        
     }
     .productImg{
        max-width: 400px;
     }
}
